[Software\BigFix\EnterpriseClient\GlobalOptions]
RelaySelectAutomatic = 1
ReportInterval = 3600
[Software\BigFix\EnterpriseClient\Settings\Client\LastReportTime]
value = "Wed, 15 Mar 2025 13:00:00 +0000"
[Software\BigFix\EnterpriseClient\Settings\Client\Server1]
value = "bigfix-server.example.com"

